@import "~bootstrap/dist/css/bootstrap.min.css";

$blue: rgb(86, 121, 163);
$orange: rgb(229, 146, 68);
$red: rgb(209, 96, 93);
$lightblue: rgb(132, 181, 178);
$green: rgb(106, 159, 88);
$yellow: rgb(232, 201, 96);
$purple: rgb(168, 125, 159);
$pink: rgb(242, 162, 169);
$brown: rgb(151, 118, 98);
$gray: rgb(184, 176, 172);
$elsevierblue: rgb(53, 127, 168);

@import "components/bar.scss";
@import "components/figure.scss";
@import "components/katex.scss";
@import "components/link.scss";
